[submodule "raylib"]
    path = src/Dependencies/raylib
    url = https://github.com/raysan5/raylib.git
    shallow = true
    branch = master

[submodule "pigpio"]
    path = src/Dependencies/pigpio
    url = https://github.com/joan2937/pigpio.git
    shallow = true
    branch = master